%li
  %table
    %tr
      %td.avatar{rowspan: 2}= gravatar(comment.user, 35)
      %td.header
        %div
          %span.author by #{link_to(comment.user.name, comment.user, { target: '_blank' })}
          %span.time #{time_ago_in_words(comment.created_at)} ago
    %tr
      %td.body= comment.body