%div#submissions
  %div.submission#submission_header
    %div.time Submission time
    %div.source Source
    %div.result Result
  - @submissions.each do |submission|
    %div.submission{ :id => submission.id, 'data-testing' => (submission.result == :testing).to_s }
      %div.time= submission.pretty_submission_time
      %div.source= image_tag 'source.png'
      %div.result= submission_image(submission)
  %div#pagination= paginate @submissions, params: { action: :submissions }, remote: true, window: 1
