%div.users-page
  - @users.each do |user|
    %div.user
      %div.avatar= gravatar(user, 45)
      %div.name= link_to user.name, user
      %div.points= user.total_points

      %div.langs
        = raw user.languages.map { |lang| link_to lang.name, lang }.join(",")
