%div.greeting-page

  %div.langs
    - @langs.each do |lang|
      %div.lang
        = link_to lang.name, lang
        %pre.code
          %code{ class: lang.syntax_mode }~ lang.code_example

  %div.introduction
    %p Do you know these 3 languages?
    %p
      = link_to 'Sign up', new_user_registration_path
      to try them all.
    %p Solve language-specific tasks to taste different languages.
