%div#about
  %p
    Taste-o-Code is a web project that aims to help you find and "taste" new programming languages. Unlike other similar services, Taste-o-Code doesn't focus on your programming skills or knowledge of algorithms. Instead, we want you to discover strengths and beauty of programming languages by solving a few simple, but still interesting, problems that each one of them is most suitable for. Taste-o-Code automatically tests your solutions and when you succeed rewards you with points that you can later use to "buy" and try even more languages.

  %p
    You can help us make Taste-o-Code better! If you have an idea for an interesting task, want to add a new language, or have anything else to say about the project – feel free to click "Feedback" button on the right and share it with us. You can also send your suggestions to #{mail_to('support@taste-o-code.com')}.

  %p
    Taste-o-Code is an open-source project. The source code can be found on #{link_to('GitHub', 'https://github.com/taste-o-code/')}.
