*
  margin: 0px
  padding: 0px
  font-family: San-Serif

#flash_notice, #flash_alert
  padding: 5px 5px
  margin: 10px 0

#flash_notice
  background-color: #CFC
  border: solid 1px #6c6

#flash_alert
  backgound-color: #FCC
  border: solid 1px #C66

#content
  min-height: 600px
