*
  margin: 0px
  padding: 0px
  font-family: San-Serif
  
.header
  $header-height: 60px
  height: $header-height
  background-color: #434343
  color: #FFF

  .title
    margin-left: 20px
    font-size: 30px
    line-height: $header-height
    font-weight: bold
    display: inline
    float: left
    
  .user-div
    line-height: $header-height - 5px
    margin-right: 10px
    display: inline-block
    float: right

    span
      display: inline-block
      margin-right: 10px
      vertical-align: middle

      .name
        font-weight: bold
          
      a
        color: #FFF

#flash_notice, #flash_alert
  padding: 5px 5px
  margin: 10px 0

#flash_notice
  background-color: #CFC
  border: solid 1px #6c6

#flash_alert
  backgound-color: #FCC
  border: solid 1px #C66