$header-height: 60px
$header-background: #434343
$header-alt-background: #575757

#header
  color: #FFF
  background-color: #434343
  height: $header-height
  line-height: $header-height
  position: relative

  .row
    height: 100%

    .header-wrapper
      margin: 0 15px
      height: 100%

      h1
        font-size: 30px
        font-weight: bold
        margin: -2px 0 0
        line-height: $header-height

        a
          color: #FFF

      .dropdown-trigger
        height: 100%
        position: relative
        padding: 0 15px
        cursor: pointer

        &.opened, &:hover
          background-color: $header-alt-background

        .header-dropdown
          line-height: normal
          position: absolute
          top: $header-height
          right: 0
          cursor: auto
          background-color: $header-alt-background
          display: none
          box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2)
          border:
            width: 0 1px 1px
            style: solid
            color: rgba(0, 0, 0, 0.2)
            radius: 0 0 6px 6px

        &.opened .header-dropdown
          display: block

      #user_bar
        height: 100%
        float: right

        a
          color: #FFF

        &.logged-in
          .name, .avatar
            float: left

          .avatar
            height: 35px
            width: 35px
            margin: 10px 15px 0 0

            img
              border: 1px solid #BFBFBF

          .header-dropdown
            width: 100%
            padding-bottom: 6px

            ul
              margin: 0

              li
                margin: 0

                a
                  padding: 3px 15px
                  margin: 3px 0
                  display: block

                  &:hover
                    background-color: $header-background

        &.logged-out
          position: relative

          li
            float: left
            display: block
            margin: 0

          .providers-icons
            text-align: center
            width: 200px
            margin: 0
            padding: 0px 10px
            img
              padding: 0px 10px

          form
            width: 200px
            margin: 0
            padding: 15px 10px 7px

            input.input-text
              width: 192px

            label.remember
              margin: 0 0 5px

            input[type=submit]
              width: 100%
              margin: 0
              font-size: 15px
              padding: 11px 0

          a#join
            display: block
            padding: 0 15px

            &:hover
              background-color: $header-alt-background

      .nav
        font-size: 24px
        margin-left: 20px

        ul
          float: left
          display: block
          margin: 0

          li
            float: left
            display: block
            margin: 0

            a, span
              display: block
              height: 100%
              padding: 0 15px

            a
              color: #BFBFBF

            span, a:hover
              color: #FFF