$header-height: 60px
#header_background
  background-color: #434343
  height: $header-height

#header

  color: #FFF
  height: 100%
  position: relative

  .title
    margin-left: 20px
    font-size: 30px
    line-height: $header-height
    font-weight: bold
    display: inline
    float: left

    a
      text-decoration: none
      color: white

  .user-div
    position: absolute
    right: 0px
    padding: 12px 10px 0 0

    img
      margin: 0 10px
      border: 1px solid #DDD

    div
      float: right
      margin-top: 10px

      a
        margin: 0 6px
        color: #FFF
        text-decoration: none

        &:hover
          text-decoration: underline

        &.name
          font-weight: bold

  #nav
    float: left
    margin: 17px 40px
    font-size: 24px

    a
      text-decoration: none
      color: #CCC

      &:hover
        text-decoration: underline
        color: white

    ul
      list-style: none

      li
        display: inline-block
        list-style: none
        padding: 0 15px