// languages#index
.languages-page
  text-align: center
  .language
    font-size: 25px
    margin-bottom: 30px

// languages#show
.language-page
  .CodeMirror-scroll
    height: auto

  .name
    margin: auto
    text-align: center
    margin-bottom: 20px
  .description
    font-size: 20px
    text-align: justify
    margin-bottom: 20px
    line-height: 25px

  .section
    margin-top: 20px
    p
      margin-bottom: 10px

    .title
      color: black
      font-size: 20px

    .version
      font-size: 20px
      margin-left: 10px

    .link
      margin-left: 10px
      font-size: 15px

  .tasks
    .task
      display: inline-block
      position: relative
      width: 200px
      height: 60px
      margin: 30px 40px
      text-align: center
      border: 1px solid gray

      *
        font-size: 18px
        font-weight: bold
        color: #666464

      a
        line-height: 62px
        height: 100%
        width: 100%
        display: inline-block

        &:hover
          color: #434343

      div
        position: absolute
        top: 0
        right: 0
        padding: 5px
        font-weight: normal


      &.not-tried
        background-color: #DEDEDE

      &.solved
        background-color: #a0fea0

      &.unsubdued
        background-color: #fdc2c2

