#google
  width: 90px
  height: 51px
  cursor: pointer
  background: url('/assets/openid-icons.png')

form.sign-in
  width: 262px

  .remember-submit
    float: right
    width: 100%

    label.remember
      float: right
      line-height: 36px
      margin: 0 15px 0

    input[type=submit]
      float: right
      width: 115px