$max-page-width: 1200px
$min-page-width: 1000px

body
  font-size: 15px
  background-color: #434343

.row
  max-width: $max-page-width
  min-width: $min-page-width

a
  text-decoration: none

#main
  background-color: #FFF

  > .row
    $content-margin: 30px

    min-height: 900px
    padding: $content-margin 0
    background-color: #F3F3F3
    box-shadow: 0 0 10px #888

    #content
      margin: 0 $content-margin

    #flash
      .close
        cursor: pointer

      .alert-box
        border: 1px solid #BFBFBF
        border-color: rgba(0, 0, 0, 0.1)
        zoom: 1

        &.flash-notice
          background-color: #CFC

        &.flash-alert
          background-color: #FEE

#footer
  height: 60px