.task-page
  .name
    margin: auto
    text-align: center
    margin-bottom: 20px

  .language
    font-size: 18px
  .description
    font-size: 20px
    text-align: justify
    margin-bottom: 20px
    line-height: 25px

