.task-page
  .CodeMirror-scroll
    height: 100%

  .name
    margin: auto
    text-align: center
    margin-bottom: 20px

  .language
    font-size: 18px
  .description

    p, ul
      font-size: 20px
      text-align: justify
      margin-bottom: 20px
      line-height: 25px

    code
      font-family: monospace
      font-size: 15px

    ul
      list-style: disc
      padding-left: 40px

    li
      margin-bottom: 0px

  #source_container
    background-color: white
    border: 1px solid black
    overflow: hidden
    visibility: hidden

    .CodeMirror-scroll
      height: 450px

  #submit_button
    float: right

  #no_access
    float: right
    font-size: 20px
    font-weight: bold

  #submissions
    table
      width: 100%
      border: none
      background: none
      font-size: 16px
      text-align: center

      tr
        border-bottom: 1px solid #DDD

      thead th
        padding-bottom: 20px

      tbody td
        vertical-align: middle
        padding: 15px 0

      thead, tr
        background: none

      td, th
        text-align: inherit
        font-size: inherit

      .source, .result
        width: 25%

      .source img
        cursor: pointer

    #pagination
      text-align: center

  .source-header
    float: left

  .cm-theme-selector
    float: right
    line-height: 22px

    select
      float: right
      margin-left: 10px

    span
      float: left

  #submission_source
    width: 800px
    max-height: 500px
    padding: 30px 10px 10px 10px

    .CodeMirror-scroll
      height: 100%
      max-height: 500px

  #comments
    .comments
      margin: 13px 0 18px

      li
        table
          width: 100%
          border: 1px solid lightgray
          border-radius: 2px
          -webkit-border-radius: 2px
          -moz-border-radius: 2px

          tr
            background-color: white
            padding-right: 20px

            td
              padding: 15px

              &.avatar
                width: 35px
                padding-right: 0

              &.header
                padding-bottom: 0

                div
                  font-style: italic
                  border-bottom: 1px solid lightgray

                  .time
                    float: right

              &.body
                padding-top: 10px
                text-align: justify
                padding-bottom: 20px

              &.header, &.body
                padding-right: 20px

    #comment_form
      form
        textarea
          border: 1px solid gray
          height: 100px
          width: 100%

          &:focus
            background-color: white

      button
        float: right

  .tabs-content
    min-height: 600px

    li > div
      margin: 20px auto
      width: 600px

  .no-content
    font-style: italic
    margin: 15px 0 20px
