$profile-info-width: 60%
#profile_avatar
  display: inline-block
  width: 95% - $profile-info-width
  text-align: right

#profile_info
  margin-left: 20px
  display: inline-block
  width: $profile-info-width
  vertical-align: top

  #name
    font-weight: bold
    font-size: 20px
  #edit
    a
      text-decoration: none

  #fields
    margin-top: 10px

  .field
    display: block
    margin-bottom: 10px

    td:nth-child(1)
      width: 200px
    td:nth-child(2)
      width: 200px