$profile-info-width: 60%
#profile_avatar
  display: inline-block
  width: 95% - $profile-info-width
  text-align: right

  #avatar_holder
    text-align: center
    display: inline-block

#profile_info
  margin-left: 20px
  display: inline-block
  width: $profile-info-width
  vertical-align: top

  #name
    font-weight: bold
    font-size: 20px

  #first_line
    margin-bottom: 10px

  #edit
    a
      text-decoration: none
      vertical-align: top

  .field
    margin-bottom: 10px

    div
      display: inline-block

    .field-name
      width: 200px

    label
      font-size: 15px
